body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p{
  margin-top: 5px;
  margin-bottom: 5px;

}

a{ 
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}

.business-card{
  width: 300px;
}